frameworks/cocos2d-x/cocos/2d/Debug.win32/
frameworks/cocos2d-x/cocos/2d/Release.win32/
frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Release.win32/
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32/
frameworks/runtime-src/proj.win32/Release.win32/
frameworks/runtime-src/proj.win32/Debug.win32/
frameworks/cocos2d-x/tools/simulator/libsimulator/proj.win32/
frameworks/cocos2d-x/external/recast/proj.win32/
*.tlog
*.obj
*.pdb
*.log
frameworks/runtime-src/proj.win32/.vs/framework/v15/
*.idb
*.ilk
simulator/
runtime/mac
contents.xcworkspacedata
IDEWorkspaceChecks.plist
UserInterfaceState.xcuserstate
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build
ucrtbased.dll
Download/
virtualDir/
Update/
# res/ui/icon
spineWorkSpace
spineOutput
frameworks/runtime-src/proj.android/.idea
frameworks/cocos2d-x/build/cocos2d_libs.xcodeproj/xcuserdata/ljw.xcuserdatad/xcschemes/xcschememanagement.plist
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/libcocos2dx.iml
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/cocos2d_lua_bindings.xcodeproj/xcuserdata/ljw.xcuserdatad/xcschemes/xcschememanagement.plist
frameworks/runtime-src/proj.android/proj.android.iml
frameworks/runtime-src/proj.android/app/framework.iml
frameworks/runtime-src/proj.ios_mac/GoogleService-Info.plist
frameworks/runtime-src/proj.ios_mac/framework.xcodeproj/xcshareddata/xcschemes/framework-desktop.xcscheme
frameworks/runtime-src/proj.ios_mac/framework.xcodeproj/xcshareddata/xcschemes/framework-mobile.xcscheme
frameworks/runtime-src/proj.ios_mac/framework.xcodeproj/xcuserdata/ljw.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
frameworks/runtime-src/proj.ios_mac/framework.xcodeproj/xcuserdata/ljw.xcuserdatad/xcschemes/xcschememanagement.plist
sqlcompare/*
Tools/Zipper/lib
MapEditor/res
Tools/bin
MapEditor/src/app/components
.DS_Store
frameworks/runtime-src/proj.ios_mac/build
frameworks/runtime-src/proj.ios_mac/Pods
